<!doctype html>
<html lang="en">

<head>
  <title>Demo</title>
  <meta name='viewport' content='user-scalable=0, width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0'>
  <link rel="stylesheet" href="/css/demo.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/jquery.fullPage.css" />
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.fullPage.min.js"></script>
  <script src="/js/apk.js"></script>
</head>

<body>
  <div id="body-wrappger">
    <nav id="nav" class="navbar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#demo">
            LPMobile Android APKs
          </a>
        </div>
      </div>
    </nav>
    <div id="demo" class="collapse">
      <div class="jumbotron">
        <center><h1>Talk to us!</h1></center>
        <button tyep="button" class="btn btn-primary btn-block chat-btn">Live Chat!</button>
      </div>
    </div>
  </div>

<div id="fullpage">
  <div class="section">
    <div id="slide0" class="slide i">
      <div id="list-container" class="container-fluid">
        <div class="row" id="ecosmart-row">
          <div class="col-xs-11 name">EcoSmart</div>
        </div>
      </div>
    </div>
    <div id="slide1" class="slide">
      <div class="container-fluid">
        <div id="slide1-content">
          <h3>Ecosmart test application</h3>
            <h5>Master Versions</h5>
          <ul>
            <li><a href="/apk/EcoSmart_296_debug.apk">1.5.296</a></li>
            <li><a href="/apk/EcoSmart_288_debug.apk">1.5.288</a></li>
            <li><a href="/apk/EcoSmart_285_debug.apk">1.5.285</a></li>
            <li><a href="/apk/EcoSmart_273_debug.apk">1.5.273</a></li>
            <li><a href="/apk/EcoSmart_253_debug.apk">1.5.253</a></li>
          </ul>
            <h5>Unstable Versions</h5>
          <ul>
            <li><a href="/apk/EcoSmart_294_debug.apk">1.5.294</a></li>
            <li><a href="/apk/EcoSmart_293_debug.apk">1.5.293</a></li>
          </ul>
          <div class="row" id="ecosmart-back">
            <div class="col-xs-12 name back-btn">Back</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!--<div id="slide2" class="slide i"></div>
    <div id="slide3" class="slide i"></div> -->

    <script type="text/javascript">
    // var _LP_CFG_ = {
    //   app_id: '88310325',
    //   log_level: 0,
    //   options: {
    //     language: 'en',
    //     triggerSelector: '.chat-btn',
    //     onReady: function() {
    //       LPMobile.on('enabledChange', function(data) {
    //         buildUl(data);
    //         console.log(data);
    //       });
    //       events.forEach(function(evt) {
    //         LPMobile.on(evt, function() {
    //           logEvent(evt);
    //         });
    //       });
    //     },
    //     onChatDisabled: function(els) { // An event that fires when chat is disabled. It takes one parameter which is an array of your trigger selectors.
    //       logEvent('oldChatDisabled');
    //     },
    //     onChatEnabled: function(els) { // An event that fires when chat is enabled. It takes one parameter which is an array of your trigger selectors.
    //       logEvent('oldChatEnabled');
    //     },
    //     onChatNotAnswered : function(messages) {
    //       logEvent('onChatNotAnswered');
    //     },
    //     extras: function() {
    //       return {
    //         "time": Date.now()
    //       }

    //     }
    //   }

    // };
    // (function() {
    //   var a = _LP_CFG_.lpjsid = "lpjs-" + (new Date).getTime(),
    //   b = document.createElement("script"),
    //   s = document.getElementsByTagName("script")[0];
    //   b.id = a;
    //   b.type = "text/javascript";
    //   b.async = true;
    //   b.src = 'https://d3tpuxked45kzt.cloudfront.net/lp_lib/liveperson-mobile.js';
    //   s.parentNode.insertBefore(b, s);
    // })();
  </script>
</body>
</html>
