<!doctype html>
<html lang="en">

<head>
    <title>Demo</title>
    <meta name='viewport' content='user-scalable=0, width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0'>
    <link rel="stylesheet" href="/css/demo.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/jquery.fullPage.css"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fullPage.min.js"></script>
    <script src="/js/apk.js"></script>
</head>

<body>
<div id="body-wrappger">
    <nav id="nav" class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#demo">
                    LPMobile Android APKs
                </a>
            </div>
        </div>
    </nav>
    <div id="demo" class="collapse">
        <div class="jumbotron">
            <center><h1>Talk to us!</h1></center>
            <button tyep="button" class="btn btn-primary btn-block chat-btn">Live Chat!</button>
        </div>
    </div>
</div>

<div id="fullpage">
    <div class="section">
        <div id="slide0" class="slide i">
            <div id="list-container" class="container-fluid">
                <div class="row" id="ecosmart-row">
                    <div class="col-xs-11 name">EcoSmart</div>
                </div>
            </div>
        </div>
        <div id="slide1" class="slide">
            <div class="container-fluid">
                <div id="slide1-content">
                    <h3>Ecosmart test application</h3>
                    <h5>Master Versions</h5>
                    <ul>
                        <li><a href="/apk/EcoSmart_296_debug.apk">1.5.296</a></li>
                        <li><a href="/apk/EcoSmart_288_debug.apk">1.5.288</a></li>
                        <li><a href="/apk/EcoSmart_285_debug.apk">1.5.285</a></li>
                        <li><a href="/apk/EcoSmart_273_debug.apk">1.5.273</a></li>
                        <li><a href="/apk/EcoSmart_253_debug.apk">1.5.253</a></li>
                    </ul>
                    <h5>Unstable Versions</h5>
                    <ul>
                        <li><a href="/apk/EcoSmart_294_debug.apk">1.5.294</a></li>
                        <li><a href="/apk/EcoSmart_293_debug.apk">1.5.293</a></li>
                    </ul>
                    <div class="row" id="ecosmart-back">
                        <div class="col-xs-12 name back-btn">Back</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN LivePerson Monitor. -->
<script type="text/javascript"> window.lpTag=window.lpTag||{};if(typeof window.lpTag._tagCount==='undefined'){window.lpTag={site:'90645059'||'',section:lpTag.section||'',autoStart:lpTag.autoStart===false?false:true,ovr:lpTag.ovr||{domain : 'lptag-a.liveperson.net',tagjs : 'tags-a.liveperson.net'},_v:'1.5.1',_tagCount:1,protocol:location.protocol,events:{bind:function(app,ev,fn){lpTag.defer(function(){lpTag.events.bind(app,ev,fn);},0);},trigger:function(app,ev,json){lpTag.defer(function(){lpTag.events.trigger(app,ev,json);},1);}},defer:function(fn,fnType){if(fnType==0){this._defB=this._defB||[];this._defB.push(fn);}else if(fnType==1){this._defT=this._defT||[];this._defT.push(fn);}else{this._defL=this._defL||[];this._defL.push(fn);}},load:function(src,chr,id){var t=this;setTimeout(function(){t._load(src,chr,id);},0);},_load:function(src,chr,id){var url=src;if(!src){url=this.protocol+'//'+((this.ovr&&this.ovr.domain)?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site;}var s=document.createElement('script');s.setAttribute('charset',chr?chr:'UTF-8');if(id){s.setAttribute('id',id);}s.setAttribute('src',url);document.getElementsByTagName('head').item(0).appendChild(s);},init:function(){this._timing=this._timing||{};this._timing.start=(new Date()).getTime();var that=this;if(window.attachEvent){window.attachEvent('onload',function(){that._domReady('domReady');});}else{window.addEventListener('DOMContentLoaded',function(){that._domReady('contReady');},false);window.addEventListener('load',function(){that._domReady('domReady');},false);}if(typeof(window._lptStop)=='undefined'){this.load();}},start:function(){this.autoStart=true;},_domReady:function(n){if(!this.isDom){this.isDom=true;this.events.trigger('LPT','DOM_READY',{t:n});}this._timing[n]=(new Date()).getTime();},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],ev:lpTag.ev||[]};lpTag.init();}else{window.lpTag._tagCount+=1;} </script>
<!-- END LivePerson Monitor. -->
</body>
</html>
