<!doctype html>
<html lang="en">

<head>
  <title>Demo</title>
  <meta name='viewport' content='user-scalable=0, width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0'>
</head>

<body style="padding: 20px">
<h1>LPMobile Test Page</h1>
<hr>
<h4>To reach the test page enter domain /environment/account</h4>
<p> <b>Must be visited by a mobile device or emulated in broswer to view page </b></p>
<p> availible environments </p>
<ul>
  <li> /qa </li>
  <li> /staging </li>
  <li> /produciton </li>
  <li> /tagstaging </li>
  <li> /tag </li>
</ul>

<h4>Android APK Downloads</h4>
<ul>
	<a href="http://safe-cliffs-3429.herokuapp.com/apk"><li>apk page </li></a>
</ul>
<h4>Demo page</h4>
<ul>
	<a href="http://safe-cliffs-3429.herokuapp.com/demo"><li>Demo</li></a>
</ul>
<h4> SSO Endpoints </h4>
<p> account P36511428 is the only account supported with this domain login infor sso/sso </p>
<p> use domain name /sso</p>
<p> Valid key end point https://safe-cliffs-3429.herokuapp.com/sso/genValidKey?response_type=json </p>
<p> Invalid endpoint https://safe-cliffs-3429.herokuapp.com/sso/genkey?response_type=json </p>
</body>
</html>
