<!doctype html>
<html lang="en">

<head>
    <title>Demo</title>
    <meta name='viewport' content='user-scalable=0, width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0'>
    <style>
        button {
            width: 100%;
            height: 30px;
        }

        ul {
            list-style-type: none;
        }

        li {
            padding: 10px;
            align-content: center;
        }

        input, select {
            border: 1px;
            height: 50px;
            font-size: 14pt;
            width: 100%;

        }
    </style>
    <script>
        function makePage() {
            var appId = document.getElementById("app_id").value;
            var environment = document.getElementById("environment").value;
            var version = document.getElementById("version").value;
            if (!appId) {
                alert("app id is requeired");
            } else {
                if (version) {
                    var url = "/" + environment + "/" + appId + "?version=" + version;
                } else {
                    var url ="/" + environment + "/" + appId;
                }
                window.location.assign(url);
            }
        }

    </script>
</head>
<body>
<h1>LPMobile Demo</h1>
<ul>
    <li><input id="app_id" placeholder="App ID"/></li>
    <li>
        <select id="environment">
            <option value="staging">staging</option>
            <option value="production">production</option>
        </select>
    </li>
    <li><input id="version" placeholder="lib version"/></li>
</ul>
<button onclick="makePage()">Create!</button>
<p>*app id required</p>
</body>
</html>
