<!doctype html>
<html lang="en">

<head>
    <title>404</title>
    <meta name='viewport' content='user-scalable=0, width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0'>
    <style>
        body {
            background-image: url(/resources/404.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-color: gray;
        }
    </style>
</head>

<body>
</body>
</html>
