<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Test Site</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/my.css" />
    <link rel="stylesheet" href="/css/demo.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>WebConnect</h1>
    <script type="text/javascript"src="https://d3tpuxked45kzt.cloudfront.net/lp_lib/liveperson.js"></script>
    <script type="text/javascript">
        var APP_ID = "P36511428";
        var lpcfg = {
            triggerSelector: '.help-btn',
            extras: {},
            skill: "mobile"
        };
        new LIVEPERSON(APP_ID, lpcfg);
    </script>
</body>

</html>
