#app-selector {
	margin-top: 30px;
}

#back-btn-wrapper {
	margin-top: 300px;
}

.rn-tst {
	margin-top: 50px;
}

#selection-wrper {
	display: inline-block;
	margin-left: 200px;
}

#sdk-drp {
	display:inline-block;
}