#summary {
    margin-top: 60px;
}

#result-table_wrapper {
    padding: 40px;
}

#summary-list {
    /*padding: 20px;*/
    list-style-type: none;
    width: 50%;
    margin: 0 auto;
}

#summary-list li {
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
    height: 50px;
    width: auto;
}