<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Test Site</title>
</head>

<body>
<div class="body-wrapper">
    <% if @request_payload %>

    <% end %>
</div>
</body>

</html>
